# Server Configuration
PORT=4001
NODE_ENV=development

# MongoDB Configuration
# Para desarrollo local usar mongodb://localhost:27017/auth-db
# Para producción usar la URL de MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/auth-db?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=24h
